@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
body {
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, blue, #0d8196);
}
body .overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .overlay p {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
body .overlay .todos .todo-input-grid {
  display: flex;
}
body .overlay .todos .todo-input-grid .js-input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}
body .overlay .todos .todo-input-grid .duedate {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}
body .overlay .todos .todo-input-grid .add-btn {
  color: white;
  background: #ecaf2a;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}
body .overlay .todos .todo-input-grid .add-btn:hover {
  cursor: pointer;
}
body .overlay .todos .js-todo-list {
  display: block;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}
body .overlay .new-todos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: space-around;
}
body .overlay .delete-btn {
  background-color: #929292;
  color: #eeeded;
  border: 0;
  border-radius: 20px;
  padding: 10px;
  margin-left: 0;
}
body .overlay .delete-btn:hover {
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 600px) {
  body .overlay p {
    font-size: 30px;
  }
  body .overlay .todos .todo-input-grid .js-input {
    border: 0;
    border-radius: 5px;
    padding: 8px;
    margin-left: 3px;
    width: 150px;
    font-size: smaller;
  }
  body .overlay .todos .todo-input-grid .duedate {
    border: 0;
    border-radius: 5px;
    padding: 8px;
    margin-left: 3px;
    width: 80px;
    font-size: smaller;
  }
  body .overlay .todos .todo-input-grid .add-btn {
    border: 0;
    border-radius: 5px;
    padding: 8px;
    margin-left: 3px;
    width: 40px;
    font-size: 12px;
  }
  body .overlay .todos .js-todo-list {
    font-size: 15px;
  }
  body .overlay .todos .new-todos {
    font-size: 15px;
  }
  body .overlay .todos .delete-btn {
    font-size: 10px;
  }
}
@media (min-width: 600px) and (max-width: 1330px) {
  body .overlay p {
    font-size: 38px;
  }
  body .overlay .todos .todo-input-grid .js-input {
    width: 100%;
    font-size: 18px;
  }
  body .overlay .todos .todo-input-grid .duedate {
    width: 100%;
    font-size: medium;
  }
  body .overlay .todos .todo-input-grid .add-btn {
    width: 20%;
    font-size: medium;
  }
  body .overlay .todos .js-todo-list {
    font-size: 16px;
  }
  body .overlay .todos .new-todos {
    font-size: 16px;
  }
  body .overlay .todos .delete-btn {
    font-size: 15px;
  }
}/*# sourceMappingURL=todo.css.map */